<%- model_class = Trip -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= 'Start date' %></th>
      <th><%= 'End date' %></th>
      <th><%= model_class.human_attribute_name(:cities) %></th>
      <th><%= model_class.human_attribute_name(:countries) %></th>
      <th><%= 'Preview' %></th>
      <th><%=t '.actions', :default => '' %></th>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.user.name + ':' %>
        <td><%= trip.start %></td>
        <td><%= trip.end %></td>
        <td>
          <% count = 0 %>
          <% trip.cities.each do |city| %>
            <% if count < 3 %>
              <%= city.name %><br>
              <% count += 1 %>
            <% else %>
              <%= '...' %>
              <% break %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% count = 0 %>
          <% trip.countries.each do |country| %>
            <% if count < 3 %>
              <%= country.name %><br>
              <% count += 1 %>
            <% else %>
              <%= '...' %>
              <% break %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% count = 0 %>
          <% trip.photos.each do |p| %>
            <% if count < 3 %>
              <%= link_to image_tag(p.image_url(:thumb)), p.image_url %>
              <% count += 1 %>
            <% else %>
              <%= '...' %>
              <% break %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to t('.show', :default => t("See more")),
                      user_trip_path(trip.user, trip), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_user_trip_path(trip.user, trip), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_trip_path(trip.user, trip),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p id="notice"><%= notice %></p>
<% if @user && allow(@user) %>
  <%= link_to t('.new', :default => t("Add trip")),
                new_user_trip_path(@user), :class => 'btn btn-mini' %>
<% end %>

