<h1>Listing trips</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.start %></td>
        <td><%= trip.end %></td>
        <td><%= link_to 'Show', user_trip_path(@user,trip) %></td>
        <td><%= link_to 'Edit', edit_user_trip_path(@user,trip) %></td>
        <td><%= link_to 'Destroy', user_trip_path(@user,trip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_user_trip_path(@user) %>
