<h1>New trip</h1>

<%= form_for [@user,@trip], :html => {:multipart => true} do |f| %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_select :end %>
  </div>

  <%= file_field_tag('trip_photos_attributes_file', multiple: true, name: "trip[photos][][file]") %> 
  <p class="help-block">You may upload up to 10 photos at a time. Supported formats: .jpg, .jpeg, .png, .bmp</p>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= link_to 'Back', user_trips_path(@user) %>
