<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @trip.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @trip.end %>
</p>

<% size = :medium %>
<% count = 0 %>
<div class="row-fluid">
<% @photos.each do |p| %>
  <%= render p %>
  <% count += 1 %>
  <% if count % 6 == 0 %>
    </div>
    <div class="row-fluid">
  <% end %>
<% end %>
</div>

<br>
<% if allow(@user) %>
  <%= link_to t('.upload', :default => "Upload more photos"),
              upload_user_trip_path(@user,@trip), :class => 'btn btn-mini' %>
<% end %>

<%= link_to t('.back', :default => t("helpers.links.back")),
            user_trips_path(@user), :class => 'btn btn-mini' %>
