<h1>Login</h1>

<%= form_for :session, :url => sessions_path, :method => :post do |f| %>

    <%= f.label "Email address" %><br>
    <%= f.text_field :email %><br>

    <%= f.label "Password" %><br>
    <%= f.text_field :password %><br>

    <div class="actions">
        <br/>
        <%= f.submit "Log in" %>
    </div>
    <p id="notice"><%= notice %></p>

    No account yet?<br>
    <%= link_to 'Sign up', signup_path %>

<% end %>