<%= form_for @user, :html => { :class => 'form-horizontal' }, :url => {:action => :update_password} do |f| %>
  <div class="control-group">
    <%= f.label :old_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_old, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :new_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :confirm_new_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

  <div class="form-actions">
    <%= f.submit 'Update password', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
