<h1>New user</h1>

<!-- <%= render 'form' %> -->

<%= form_for :user, :url => users_path, :method => :post do |f| %>

    <%= f.label "Name" %><br>
    <%= f.text_field :name %><br>

    <%= f.label "Email address" %> <FONT COLOR="FF0000">*</FONT> <br>
    <%= f.text_field :email %><br>

    <%= f.label "Password" %> <FONT COLOR="FF0000">*</FONT> <br>
    <%= f.password_field :password %><br>

    <%= f.label "Retype Password" %> <FONT COLOR="FF0000">*</FONT> <br>
    <%= f.password_field :password_confirmation %><br>

<br><FONT COLOR="FF0000">* required fields</FONT> </br>

    <div class="actions">
        <br/>
        <%= f.submit "Create account" %>
    </div>

<p id="notice"><%= notice %></p>
<%= link_to 'Back', users_path %>

<% end %>
