<%- model_class = User -%>
<div class="page-header">
  <h3><%=t '.title', :default => @user.name %>
    <%= image_tag @user.avatar_url(:thumb) %></h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nickname) %>:</strong></dt>
  <dd><%= @user.nickname %></dd>
  <dt><strong>Visited <%= @user.visit_cities.size %> cities:</strong></dt>
  <dd><% @user.visit_cities.each do |city| %>
        <%= city.name + ', '%>
      <% end %></dd>
      <dt><strong>Visited <%= @user.visit_countries.size %> countries:</strong></dt>
  <dd><% @user.visit_countries.each do |country| %>
        <%= country.name + ', ' %>
      <% end %></dd>
  </dl>

<div class="form-actions">
    <% if allow(@user) %>
      <%= link_to t('.edit', :default => "Edit my profile"),
                  edit_user_path(@user), :class => 'btn' %>
    <% end %>
</div>
<p id="notice"><%= notice %></p>

<h5><%= @user.name + "'s trips" %></h5>
<%= render 'trips/list' %>
