<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Travelogue</a>
      <div class="nav-collapse">
        <ul class="nav">
          <% unless current_user.nil? %>
            <li><%= image_tag current_user.avatar_url(:thumb) %></li>
            <li><%= link_to current_user.name, user_path(current_user) %></li>
            <li><%= link_to 'Dashboard', user_path(current_user) %></li>
            <li><%= link_to 'Log out', logout_path %></li>
          <% else %>  
            <li><%= link_to 'Log in', login_path %></li>
            <li><%= link_to 'Sign up', signup_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
